<div class="syos-site-frame">
  <header class="syos-site-frame__header syos-site-header">
    <p class="syos-site-header__subtext">
      <%= venue.name %>
    </p>
  </header>

  <main class="syos-site-frame__main">
    <section
      class="syos-frame"
    >
      <div class="syos-frame__map">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          class="syos-seat-map"
          width="1600px"
          height="1600px"
          viewBox="0 0 1600 1600"
        >
          <rect fill="none" x="0" y="0" width="1600" height="1600"></rect>

          <% sections.each do |section| %>
            <g>
              <% section.seats.each do |seat| %>
                <a
                  href="<%= venue_floor_seat_path(venue, floor, seat.row_number) %>"
                  aria-label="<%= seat.row_number %>"
                >
                  <svg
                    width="12px"
                    height="12px"
                    viewBox="0 0 24 24"
                    x="<%= seat.x %>"
                    y="<%= seat.y %>"
                  >
                    <circle fill="#37b24d" r="12" cx="12" cy="12"></circle>
                    <circle fill="#ffffff" r="6" cx="12" cy="12"></circle>
                  </svg>
                </a>
              <% end %>
            </g>
          <% end %>
        </svg>
      </div>

      <div class="syos-frame__sidebar">
        <h2 class="syos-u-margin-bottom-2">
          Your seat selections
        </h2>

        <p class="syos-u-font-size-small syos-u-margin-bottom-2">
          Seats are not reserved until added to the cart.
        </p>

        <table class="syos-table">
          <thead>
            <tr>
              <th>
                Seat
              </th>

              <th class="syos-table__cell--numerals">
                Price
              </th>

              <th class="visually-hidden">
                Remove
              </th>
            </tr>
          </thead>

          <tbody></tbody>
        </table>
      </div>
    </section>
  </main>

  <% frame_contents = yield %>
  <% if frame_contents.present? %>
    <dialog
      class="syos-dialog"
      open
    >
      <%= frame_contents %>
    </dialog>
  <% end %>
</div>
