<header class="syos-site-frame__header syos-site-header">
  <p class="syos-site-header__subtext">
    <%= venue.name %>
  </p>
</header>

<main class="syos-site-frame__main">
  <section
    class="syos-frame"
  >
    <div class="syos-frame__map">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        class="syos-seat-map"
        width="1600px"
        height="1600px"
        viewBox="0 0 1600 1600"
      >
        <rect fill="none" x="0" y="0" width="1600" height="1600"></rect>

        <svg style="display: none;">
          <symbol
            id="seat-icon-unselected"
            width="24"
            height="24"
            viewbox="0 0 24 24"
          >
            <circle fill="#37b24d" r="12" cx="12" cy="12"></circle>
            <circle fill="#ffffff" r="6" cx="12" cy="12"></circle>
          </symbol>
        </svg>

        <% sections.each do |section| %>
          <g>
            <% section.seats.each do |seat| %>
              <a
                href="<%= venue_floor_seat_path(venue, floor, seat.row_number) %>"
                aria-label="<%= seat.row_number %>"
              >
                <use
                  xlink:href="#seat-icon-unselected"
                  width="12px"
                  height="12px"
                  x="<%= seat.x %>"
                  y="<%= seat.y %>"
                >
                </use>
              </a>
            <% end %>
          </g>
        <% end %>
      </svg>
    </div>

    <div class="syos-frame__sidebar">
      <div id="cart-summary">
        <h2 class="syos-u-margin-bottom-2">
          Your seat selections
        </h2>

        <p class="syos-u-font-size-small syos-u-margin-bottom-2">
          Seats are not reserved until added to the cart.
        </p>

        <table class="syos-table">
          <thead>
            <tr>
              <th>
                Seat
              </th>

              <th class="syos-table__cell--numerals">
                Price
              </th>

              <th class="visually-hidden">
                Remove
              </th>
            </tr>
          </thead>

          <tbody>
            <% Current.seat_selections.each do |seat_selection| %>
              <tr>
                <td>
                  <%= seat_selection.seat.row_number %>
                </td>
                <td class="syos-table__cell--numerals">
                  <%= number_to_currency(seat_selection.seat.section.price / 100.0) %>
                </td>
                <td class="syos-u-text-align-right">
                  <%= button_to(
                    seat_selection_path(seat_selection.seat),
                    class: "syos-button syos-button--transparent",
                    method: :delete,
                  ) do %>
                    <%= inline_svg_tag(
                      "icons/x-circle.svg",
                      aria: true,
                      class: "syos-icon",
                      title: "Remove",
                    ) %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</main>
