<!DOCTYPE html>
<html>
  <head>
    <title>SelectYourOwnSeat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="turbolinks-cache-control" content="no-preview">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body
    data-controller="turbolinks-fragment"
    data-action="
      turbolinks:click->turbolinks-fragment#click
      turbolinks:request-start@document->turbolinks-fragment#appendHeader
      turbolinks:before-render@document->turbolinks-fragment#injectFragment
    "
  >
    <div class="syos-site-frame">
      <%= yield %>
    </div>

    <div data-turbolinks-fragment-channel="dialog"></div>
  </body>
</html>
